<div class="social__icons">
  <ul class="home-social">
    <li>
      <span class="link">LinkedIn</span>
      <a href="https://www.linkedin.com/in/akj46" target="_blank">
        <i
          class="fa fa-linkedin"
          aria-hidden="true">
          </i>
        </a>
    </li>
    <li>
      <span class="link">Twitter</span>
      <a href="https://www.twitter.com/ankit36spks" target="_blank"
        ><i
          class="fa fa-twitter"
          aria-hidden="true"
        ></i
      ></a>
    </li>
    <li>
      <span class="link">Instagram</span>
      <a href="https://www.instagram.com/ankitspks" target="_blank"
        ><i
          class="fa fa-instagram"
          aria-hidden="true"
        ></i
      ></a>
    </li>
    <li>
      <span class="link">Facebook</span>
      <a href="https://facebook.com/ankit.jain.965" target="_blank"
        ><i
          class="fa fa-facebook"
          aria-hidden="true"
        ></i
      ></a>
    </li>
    <li>
      <span class="link">Gmail</span>
      <a href="mailto:ankit.jain3663@gmail.com">
        <i
          class="fa fa-google"
          aria-hidden="true"
        >
        </i>
      </a>
    </li>
  </ul>
</div>
