<div id="container">
  <img
    id="contact_image"
    src="../../assets/contact_me.jpg"
    alt="Contact me Image"
  />
  <div class="contact_text">
    <p class="contact_title">{{ contactConfig.title }}</p>
    <div class="contact_details">
      <div class="photo_details">
        <img
          class="fun_img"
          src="../../assets/fun_cropped.jpg"
          alt="Me on buggies"
          (click)="openFull()"
        />
        <p class="photo_message" [innerHTML]="contactConfig.photo_msg" > </p>
      </div>
      <div class="contact_form">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="input_container">
            <input type="text" required id="name" formControlName="name" />
            <span for="name">{{ contactConfig.form.name }}</span>
          </div>
          <div class="input_container">
            <input type="email" required id="email" formControlName="email" />
            <span for="email">{{ contactConfig.form.email }}</span>
          </div>
          <div class="input_container">
            <input
              type="text"
              required
              id="subject"
              formControlName="subject"
            />
            <span for="subject">{{ contactConfig.form.matter }}</span>
          </div>
          <div class="input_container">
            <textarea rows="5" cols="30" formControlName="message"></textarea>
            <span for="email">{{ contactConfig.form.message }}</span>
          </div>
          <div class="button_group">
            <button type="reset" class="form_button">CLEAR</button>
            <button
              type="submit"
              class="form_button"
              [disabled]="!contactForm.valid"
            >
              SEND
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close" (click)="closeImg()">&times;</span>
  <img class="modal-content" id="img01" src="../../assets/fun_me.jpg" />
  <div id="caption"></div>
</div>

<!-- Social Icons -->
<app-social-icons> </app-social-icons>
