.workpage {
    padding: 3rem;
}

.work__header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.work__details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.timeline {
    text-align: end;
    flex: 3rem;
}